<!DOCTYPE html>
<html>
  <head>
    <title>DarkThemeRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= cookies[:theme] %>">
    <%= cookies[:theme] %>
    <%= link_to 'light', set_theme_path(theme: 'light') %>
    <%= link_to 'dark', set_theme_path(theme: 'dark') %>
    <%= link_to 'system default', set_theme_path %>
    <hr>
    <%= yield %>
  </body>
</html>
